#card{
    padding: 0;
}

.mat-card{
    border-radius: 32px;
    margin:10px 10px;
    padding: 20px;
    border-color: blue;
}

.card-img-top{
    border-radius: 32px 32px 0 0;
}

#information{
    display: flex;
}

#info{
margin: 0.5rem 0 1rem 1rem;
}

#info-actions{
    margin: 2rem 0 1rem 1rem;
    }

#info h1{
    font-family: 'Merriweather', serif;
    }
    
#ocupation #info-contact{
    font-family: 'Arimo', sans-serif;
}    

#container-info{
    display: flex;
}
#profile img {
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top:-160px;
    z-index: 1;
}

.experiencia-container{
    display: flex;
}

.btn-right{
    display: inline-block;
    justify-content: flex-end;

}



